<h2>Thanks!</h2>
<p>Thanks for placing your order.</p>
<p>We'll ship your goods as soon as possible.</p>
<div class="text-center">
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Main Page</a>
</div>
