@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>


<address>
    EASJ ROSKILDE<br/>
    Bakkesvinget 67, 4000 Roskilde<br/>
    <abbr title="Phone">P:</abbr>
    (+45) 5076 2630
</address>

<address>
    <strong>Main:</strong> <a href="mailto:easj-roskilde@easj.dk">easj-roskilde@easj.dk</a><br/>
    <strong>Development:</strong> <a href="mailto:istv0050@easj.dk">istv0050@easj.dk</a>
</address>