@{
    ViewData["Title"] = "Home Page";
}

@using System.Security.Claims;

@if (!User.Identities.Any(u => u.IsAuthenticated))
{
    <h1>Hello Anonymus</h1>
}
else
{
    <h1>
        Hello @User.Identities.First(
                  u => u.IsAuthenticated &&
                       u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value
    </h1>
    <p>
        Congratulations, you have been successfully validated as a user!
    </p>
}

@if (await AuthorizationService.AuthorizeAsync(User, "AdministratorOnly"))
{
    <p>This paragraph is displayed because you fulfilled AdministratorOnly Policy.</p>


    <p>Select an Admin Option:</p>
    <li><a asp-area="" asp-controller="Admin" asp-action="Index">Edit User Accounts</a></li>
    <li><a asp-area="" asp-controller="RoleAdmin" asp-action="Index">Manage User Roles</a></li>

}


