@model ProductsListViewModel
<br />
<div class="row panel">
    <div id="categories" class="col-xs-3">
        @await Component.InvokeAsync("NavigationMenu")
    </div>
    <div class="col-xs-8">

        @foreach (var p in Model.Products)
        {
            @Html.Partial("ProductSummary", p)
        }

        <div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-default"
             page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" class="btn-group pull-right">
        </div>
    </div>
</div>
