@{
    ViewData["Title"] = "Access Denied";
}

<div class="bg-danger panel-body">
    <h4>Access Denied</h4>
    You are not authorized to view this source! Contact your admin for relevant privileges and rights!
</div>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">OK</a>